* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

html {
  scroll-padding-top: 80px;
}

a {
  text-decoration: none;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: #cce7fc;
  position: fixed;
  z-index: 99999;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-name {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.nav-name p {
  font-size: 2.2rem;
  font-weight: bold;
}

/* Nav Button */

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 50%;
}

.nav-btn ul {
  width: 100%;
  list-style: none;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.nav-btn ul li {
  border: none;
  padding: 7px 10px;
  border-radius: 10px;
}

.nav-btn ul li:hover {
  box-shadow: 0 0 8px rgba(0, 128, 255, 0.3);
  background-color: rgba(27, 126, 224, 0.2);
  transition: 0.3s ease-out;
}

.nav-btn ul li a {
  color: black;
  text-decoration: none;
  font-weight: 550;
  font-size: 1.076rem;
}

/* Theme Changer */

.theme-changer {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0px 15px 0px 10px;
  cursor: pointer;
}

.theme-changer i {
  font-size: 1.3rem;
  padding: 10px;
}

/* Hidden menu */

.nav-menu {
  height: 100%;
  display: none;
  align-items: center;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.nav-menu i {
  font-size: 1.8rem;
}

.nav-bar-hidden {
  min-height: fit-content;
  flex-direction: column;
  justify-content: start;
  background-color: #badff9;
}

/* Menu Button */

.menu-bar {
  width: 100%;
  padding: 10px 10px 10px 0px;
}

.menu-bar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

#menu-btn {
  margin: 5px;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px rgba(0, 128, 255, 0.3);
  background-color: rgba(27, 126, 224, 0.2);
  cursor: pointer;
}

#menu-btn:hover {
  background-color: rgba(27, 126, 224, 0.5);
  box-shadow: 0 0 8px rgba(0, 128, 255, 0.5);
  transition: 0.2s ease;
  transform: scale(0.95, 0.95);
}

#menu-btn a {
  text-align: center;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}

.hidden-menu-bar {
  display: none;
}

/* Main body CSS starts here */

section {
  width: 100%;
  min-height: 100vh;
}

#home {
  padding: 85px 10px 10px 10px;
}

.home-container {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.home-left,
.home-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-image: url("assets/Monirul.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-right {
  padding: 10px;
}

.home-right-container {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  gap: 1rem;
}

.home-right-name {
  font-size: 3.5rem;
  font-weight: bolder;
}

.home-right-subtext {
  line-height: 1.2;
  width: 85%;
  font-size: 1.5rem;
}

.home-links {
  margin: 10px 0px 20px 0px;
}

.home-links ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.home-links ul a li i {
  font-size: 2.5rem;
  color: black;
}

.home-links ul li:hover {
  transform: translateY(-5px) scale(1.1, 1.1);
  transition: transform 0.3s ease-in-out;
}

.home-shortcut {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.view-work {
  padding: 17px 35px;
  border-radius: 15px;
  margin-left: 20px;
  font-weight: 550;
  border: 1px solid gray;
  cursor: pointer;
  color: black;
}

.view-work:hover {
  background-color: rgba(27, 126, 224, 0.4);
  transform: scale(1.05, 1.05) translateY(-5px);
  border-color: transparent;
  transition: 0.3s ease;
}

.view-work:active {
  transform: scale(0.9, 0.9);
  transition: transform 0.1s ease;
}

/* About Me */

#about {
  padding: 40px 20px;
  min-height: 50vh;
}

.about-title {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 30px;
  margin-left: 30px;
}

.about-container {
  padding: 10px;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-para,
.second-para {
  font-size: 1.5rem;
  padding: 10px;
  width: 70%;
  line-height: 1.3;
}

.first-para {
  align-self: flex-start;
  margin: 10px 0px 20px 20px;
}

.second-para {
  align-self: flex-end;
  margin: 10px 20px 20px 0px;
}

/* Education section */

#education {
  padding: 35px 10px 10px 10px;
}

.edu-title {
  margin: 20px 0px 40px 0px;
  color: rgba(0, 0, 0, 0.6);
}

.education-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.education-box {
  padding: 10px;
  margin: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.edu-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.edu-department {
  font-size: 1.2rem;
  font-weight: 550;
}

.institution-name {
  font-size: 2.5rem;
  font-weight: bold;
}

.edu-logo {
  height: 300px;
  width: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edu-details {
  width: 100%;
  line-height: 1.2;
  font-size: 1.16rem;
}

.varsity {
  background-image: url("assets/WUB_logo.png");
}

.college {
  background-image: url("assets/RUMC_logo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 65%;
  width: 65%;
}

.school {
  background-image: url("assets/ACS_logo.png");
}

.edu-link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  border: 1px solid gray;
  width: fit-content;
  padding: 12px 60px;
  border-radius: 15px;
  margin: auto;
  margin-top: 10px;
  font-weight: 550;
}
.edu-link:hover {
  transform: scale(1.1, 1.1);
  background-color: rgba(0, 128, 255, 0.3);
  border-color: transparent;
  transition: 0.3s ease;
}

/* Skill Section */

#skills {
  padding: 40px 10px 20px 10px;
}

.skill-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  padding: 30px 0px;
  row-gap: 50px;
}

.colored {
  font-size: 1.7rem;
}

.devicon-github-original {
  font-size: 1.7rem;
}

.skill-card {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 5px;
  padding: 10px 20px 10px 40px;
}

.skill-details {
  margin: 20px 0px 0px 20px;
}

.skill-details li {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
}

.ms-logo {
  height: 31.5px;
  width: 31.5px;
}

.skill-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.bullet {
  padding-left: 20px;
}

.bullet li {
  list-style-type: disc;
  display: list-item;
}

/* Experience */

#experience {
  padding: 40px 10px;
}

.experience-title {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 40px;
}

.experience-container {
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.exp-title {
  font-size: 1.7rem;
}

.exp-title2 {
  font-size: 1.4rem;
  margin: 5px 15px;
}

.exp-list {
  margin: 10px 0px 30px 50px;
}

.exp-list li {
  font-size: 1.2rem;
}

.exp1 {
  align-self: flex-start;
  margin-left: 100px;
}

.exp2 {
  align-self: flex-end;
  margin-right: 100px;
}

.exp3 {
  align-self: flex-start;
  margin-left: 100px;
}

/* Projects */

#projects {
  padding: 40px 10px;
}

.project-top-title {
  font-size: 3rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  margin: 0px 0px 40px 30px;
}

.project-1 {
  padding: 20px 40px;
}

.project-2 {
  padding: 20px;
}

.project-3 {
  padding: 30px 40px 20px 40px;
}

.project-title {
  font-size: 2rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.9);
  margin: 0px 0px 30px 0px;
}

.project-description {
  font-size: 1.3rem;
  width: 90%;
  margin: 40px;
}

.tech-stack {
  margin-left: 40px;
}

.tech-title {
  font-size: 1.5rem;
  margin: 15px 0px;
}

.tech-stack ul {
  margin-left: 40px;
}

.tech-stack ul li {
  font-size: 1.3rem;
}

.project-link {
  margin: 40px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-btn {
  padding: 13px 25px;
  border: 0.5px solid gray;
  border-radius: 15px;
  margin: 10px;
  color: black;
  font-weight: 550;
  cursor: pointer;
}

.project-btn:hover {
  background-color: rgba(27, 126, 224, 0.3);
  border-color: transparent;
  transition: 0.3s ease;
}

.educare-margin {
  margin-left: 20px;
}

.visual-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
}

.visual-showcase {
  width: 100%;
  margin: 40px 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.right-swipe,
.left-swipe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-image {
  /* border-radius: 10px; */
  width: 60vw;
}

.project-image img {
  height: 60vh;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  /* border: 4px solid rgba(0, 0, 0, 0.2); */
  border-radius: 5px;
}

.fa-caret-left {
  font-size: 3.5rem;
  cursor: pointer;
}

.fa-caret-right {
  font-size: 3.5rem;
  cursor: pointer;
}

.educare-btn {
  padding: 15px 60px;
}

/* Contact Section */

#contact {
  padding: 40px 10px 20px 10px;
}

.contact-left,
.contact-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-right {
  flex-direction: column;
  gap: 1rem;
}

.contact-image {
  height: 400px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-image: url("assets/Monirul.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  padding: 20px 25px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 450px;
  background-color: white;
  border: 1px solid gray;
}

.input {
  padding: 8px 15px;
  border: 2px solid gray;
  border-top: none;
  border-right: none;
  border-left: none;
}

textarea {
  resize: none;
  height: 10rem;
  padding: 10px;
  border: 0.5px solid gray;
  border-radius: 15px;
}

.form button {
  background-color: transparent;
  border: 1px solid gray;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 7px 0px 0px 0px;
  cursor: pointer;
}

.form button:hover{
  background-color: rgba(27, 126, 224, 0.3);
  border-color: transparent;
  transition: 0.3s ease;
}

.error {
  font-size: 0.85rem;
  color: red;
  font-style: italic;
}

.contact-left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.contact-links {
  margin-top: 20px;
}

.bring-to-top {
  height: 30px;
  margin: 15px 25px;
  color: black;
  font-weight: 550;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
  font-size: 1.3rem;
  border: 1px solid gray;
  border-radius: 10px;
}
.bring-to-top:hover {
  background-color: rgba(85, 180, 248, 0.4);
  border-color: transparent;
  transition: 0.3s ease;
}

.container {
  display: flex;
  padding: 10px;
  border: none;
}

.legend {
  font-size: 3rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 30px;
}

@media only screen and (max-height: 620px) {
  .home-image {
    height: 400px;
    width: 400px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 769px) {
  html {
    scroll-padding-top: 150px;
  }

  #home {
    padding: 150px 10px 10px 10px;
  }

  .home-left {
    width: 43%;
  }
  .home-right {
    width: 57%;
  }
  .nav-bar {
    height: 150px;
  }
  .nav-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .nav-name {
    grid-area: 1 / 1 / 2 / 6;
    margin-left: 0px;
  }
  .nav-btn {
    grid-area: 2 / 1 / 3 / 6;
  }
  .nav-btn,
  .nav-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-btn ul {
    align-items: center;
    justify-content: center;
  }

  .home-right-container {
    align-items: center;
    gap: 2rem;
  }
  .home-right-name {
    font-size: 2.5rem;
    margin-top: 15px;
  }
  .view-work {
    padding: 15px 30px;
    font-size: 0.9rem;
  }

  .home-right-subtext {
    width: 90%;
    font-size: 1.4rem;
  }

  .home-image {
    height: 320px;
    width: 320px;
  }

  .home-links ul a li i {
    font-size: 2.5rem;
  }
  .skill-card {
    width: 45%;
    margin: 10px;
  }

  .form {
    width: 90%;
  }

  .project-image {
    width: 90%;
  }

  .project-image img {
    height: 50vh;
  }
}

@media only screen and (max-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-name {
    width: 80%;
  }
  .nav-name p {
    font-size: 1.7rem;
  }
  .nav-menu {
    display: flex;
  }
  .theme-changer {
    display: none;
  }
  .nav-container {
    height: 80px;
    align-items: center;
    background-color: #cce7fc;
  }
  #home {
    padding: 110px 10px 10px 10px;
    min-height: 60vh;
  }
  .home-container {
    flex-wrap: wrap;
    height: fit-content;
  }
  .home-left,
  .home-right {
    width: 100%;
  }
  .home-right-container {
    align-items: center;
    gap: 2rem;
  }
  .home-right-name {
    font-size: 2rem;
    margin-top: 15px;
  }
  .view-work {
    margin-left: 0px;
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  .home-right-subtext {
    width: 100%;
    font-size: 1.4rem;
  }

  .home-image {
    height: 250px;
    width: 250px;
  }

  .home-links ul a li i {
    font-size: 2.3rem;
  }

  .education-box {
    flex-wrap: wrap;
  }
  .edu-logo {
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
  }

  .school {
    margin-bottom: 10px;
  }
  .edu-content {
    width: 100%;
  }
  .institution-name {
    font-size: 1.2rem;
    text-align: center;
  }

  .edu-department {
    font-size: 1rem;
    text-align: center;
  }

  .edu-content{
    width: 100%;
  }

  .edu-details {
    font-size: 1.3rem;
    width: 100%;
    padding-left: 10px;
  }

  .edu-link {
    padding: 7px 15px;
  }

  .container {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
  }

  .skill-card {
    width: 80%;
    margin: 10px;
    padding: 10px 20px 10px 50px;
  }

  .skill-container {
    row-gap: 10px;
  }

  .skill-name {
    font-size: 1.4rem;
  }
  .contact-right {
    width: 100%;
  }

  .contact-left {
    width: 90%;
  }

  .contact-image {
    margin-top: 50px;
    height: 300px;
  }

  .form {
    width: 80%;
  }

  .legend {
    font-size: 2rem;
  }

  .bring-to-top {
    font-size: 0.9rem;
  }

  .visual-showcase {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 30vh 10vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .project-image {
    grid-area: 1 / 1 / 2 / 7;
    width: 100%;
  }

  .left-swipe {
    grid-area: 2 / 3 / 3 / 4;
  }

  .right-swipe {
    grid-area: 2 / 4 / 3 / 5;
  }

  .project-image img {
    height: 30vh;
  }

  .project-link {
    flex-wrap: wrap;
  }

  .project-description {
    width: 100%;
    margin-left: 0px;
  }

  .project-top-title {
    font-size: 2rem;
  }

  .project-title {
    font-size: 1.7rem;
  }

  .about-title {
    font-size: 2rem;
  }

  .about-container {
    padding: 10px;
  }

  .first-para,
  .second-para {
    align-self: center;
    margin: 20px 0px;
    width: 90%;
  }

  #experience {
    min-height: 60vh;
  }

  .experience-title {
    font-size: 2rem;
  }

  .experience-container {
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  }

  .exp-title {
    font-size: 1.3rem;
  }

  .exp-title2 {
    font-size: 1.2rem;
    margin: 10px 5px;
  }

  .exp-list {
    margin: 10px 0px 30px 30px;
  }

  .exp-list li {
    font-size: 1.1rem;
  }

  .exp1, .exp2, .exp3 {
    align-self: flex-start;
    margin: 20px 0px;
  }
}

@media only screen and (max-width: 450px) {
  .nav-btn {
    display: none;
  }
  .nav-name {
    width: 90%;
  }
  .nav-name p {
    font-size: 1.4rem;
  }

  .skill-card {
    width: 90%;
    padding: 10px 20px 10px 30px;
  }

  .form {
    width: 90%;
  }

  .project-image img {
    height: 25vh;
  }
}


.black{
  background-color: black;
  color: white;
}

.shadow{
  border-bottom: 0.5px solid white;
}